// =============================================================================
// VARIABLES
// =============================================================================
// Archivo centralizado para todas las variables del proyecto

// =============================================================================
// COLOR PALETTE
// =============================================================================
$color-1: #636363; // Text
$color-2: #ffffff; // White
$color-3: #586440; // Main Green
$color-4: #b8cc7a; // Secondary Green
$color-5: #ff9103; // Accent Orange
$color-6: #c6923e; // Secondary Orange
$color-7: #7e9150; // Nutrición
$color-8: #cbdd92; // Secondary Nutrición
$color-9: #372725; // Sanidad
$color-10: #ece5cc; // Secondary Sanidad
$color-11: #9faf5a; // Hacienda
$color-12: #eef4ba; // Secondary Hacienda
$color-13: #c47e3f; // Producción
$color-14: #f2c688; // Secondary Producción
$color-15: #fafafa; // Light Gray
$color-16: #fff2e4; // Tabla BG 1
$color-17: #fff8f1; // Tabla BG 2

// =============================================================================
// LAYOUT
// =============================================================================
$header-height: 97px;

// =============================================================================
// SPACING
// =============================================================================
$space-6: 4rem; // 64px
$space-7: 5rem; // 80px

// =============================================================================
// BREAKPOINTS
// =============================================================================
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
